<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://aspencdn.me/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container text-center" style="margin-top:20px;">
      <h1 style="margin-bottom:10vh;">Showcase your accomplishments</h1>
      <a class="btn btn-dark" href="https://github.com/login/oauth/authorize?client_id=41262c068df26f834ee4/signup" ><p style="vertical-align:center;margin-bottom:0px;">Sign in with Github &ensp;<img src="img/Github.png" style="margin-top:-3px;"width="20" height="20"></img></p></a>
    </div>
  </body>
</html>
