{% extends "base.html" %}
{% block content %}
  <div class="container text-center" style="margin-top:20px;">
    <h1 style="margin-bottom:10vh;">Showcase your accomplishments</h1>
    <a class="btn btn-dark" href="/signup" ><p style="vertical-align:center;margin-bottom:0px;">Sign in with Github &ensp;<img src="/static/GitHub.png" style="margin-top:-3px;"width="20" height="20"></img></p></a>
              <!--<a class="btn btn-primary" href="/signup" ><p style="vertical-align:center;margin-bottom:0px;">Sign in with GitLab &ensp;<img src="static/Github.png" style="margin-top:-3px;"width="20" height="20"></img></p></a> -->
  </div>

{% endblock %}
